<a href="https://colab.research.google.com/github/greatsong/hssh2020/blob/master/DNA_mRNA_%EC%A0%84%EC%82%AC_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 프로젝트 준비 1. 데이터를 리스트로 바꿔봅시다.  
- 작은 따옴표로 둘러싼 텍스트를 list() 함수에 넣으면 다음과 같이 한 글자씩 나눠진 리스트가 됩니다.

In [0]:
dna = list('GTTACATATTGC')
print(dna)

['G', 'T', 'T', 'A', 'C', 'A', 'T', 'A', 'T', 'T', 'G', 'C']

### 프로젝트 준비 2. 리스트의 슬라이싱에 대해 잠깐 복습해볼까요?  
- 리스트에서 일부를 잘라내는 것을 슬라이싱(slicing)이라고 했었죠?  
- 만약 dna라는 리스트의 처음부터 3번째 데이터 이전까지의 데이터를 자르려면 이렇게 하면 됩니다.

In [0]:
print(dna[:3])

- 이제 1번째부터 4번째 이전까지 데이터를 3개 슬라이싱해보겠습니다.

In [0]:
print(dna[1:4])

- 다음으로는 처음부터 12개의 데이터를 출력해보겠습니다.
- 다른 방법도 있지만, 이렇게 해도 됩니다. range 함수 + 인덱싱을 사용하는 이 패턴을 잘 봐두세요!

In [0]:
for i in range(12) :
  print(dna[i])

### 프로젝트 준비 3. 딕셔너리 + for 반복문   
- 딕셔너리 문법이 많이 어렵게 느껴지죠?! 
- 하지만 주로 많이 쓰이는 문법 Top은 바로 이 문법입니다! 이것만큼은 잘 익혀두세요!

In [0]:
pair = {'T':'A','G':'C','C':'G'}

In [0]:
pair['A'] = 'U'
pair

{'A': 'U', 'C': 'G', 'G': 'C', 'T': 'A'}

In [0]:
pair['A']

'U'

- 자, 이제 dna 데이터셋에서 for 반복문으로 하나씩 꺼내옵니다.
- 그런 다음 pair[i]를 출력하면 어떻게 될까요?!

In [0]:
for i in dna :
  print(pair[i])

### 여기까지 프로젝트 들어가기 전 복습이었습니다.
### 이제 본격적으로 DNA를 mRNA로 전사하는 프로젝트를 실습하고, 한 걸음 더 나아가서 mRNA에서 개시코돈을 찾아보겠습니다.
### 위의 내용들은 꼭 실습해서 손으로 익혀두세요! 백문이 불여일타!!!

In [0]:
result = []
for i in dna :
  result.append(pair[i])
  
print(dna)
print(result)

## 도전! DNA mRNA 전사 프로젝트1!
![DNA2mRNA](http://study.zumst.com/upload/00-a33-00-21-05/2_2_1.jpg)

### step 1. 제일 먼저 우리가 해야할 일은 문제를 명확히 정의하는 것입니다!
- 우리의 문제는 무엇인가요?
- 네 입력된 DNA 서열을 mRNA 서열로 전사하는 것입니다.
- 이를 위해 여러 단계를 거쳐야하는데요. 정보 시간에는 이 문제를 가장 심플하게 정의해보고, 점점 복잡성을 높여가는 방식으로 해결해나가겠습니다.

[정의된 문제]  
- 입력 : DNA 서열  
- 출력 : mRNA 서열  
- 문제에 필요한 조건 : DNA와 mRNA의 전사는 A -> U, T -> A, G -> C, C -> G로 이루어진다.

### step 2. 입력을 출력으로 바꿔줄 알고리즘 설계하기
- 이제 입력을 출력으로 어떻게 바꿀 수 있는지 고민해보겠습니다.
- 이것도 역시 천리길도 한 걸음부터! 작게 시작해서 점점 복잡한 조건을 고려하면 됩니다.
- 문제해결을 위해 어떤 단계가 필요할까요?

### 알고리즘 생각해보기
#### 1. DNA 서열 입력하기 * 어떤 데이터 구조에 담을까?
#### 2. DNA를 mRNA로 바꿔줄 규칙 정하기  * 그 규칙은 어떤 데이터 구조에 담을까?
#### 3. DNA 서열을 차례대로 mRNA로 바꾸기
#### 4. 바뀐 데이터 순서대로 저장하기 * 바뀐 데이터는 어떤 데이터 구조에 담을까?
#### 5. 전사된 mRNA 서열 결과 출력하기

### step 3. 이제 알고리즘을 코드로 표현해봅시다!!

In [0]:
### 코드로 표현하기
#### 1. DNA 서열 입력하기 * 어떤 데이터 구조에 담을까?
dna = list('ATGTCCTGTTAA')
#### 2. DNA를 mRNA로 바꿔줄 규칙 정하기  * 그 규칙은 어떤 데이터 구조에 담을까?
pair = {'A':'U','T':'A','G':'C','C':'G'}

result = []
#### 3. DNA 서열을 차례대로 mRNA로 바꾸기
for i in dna :
  #### 4. 바뀐 데이터 순서대로 저장하기 * 바뀐 데이터는 어떤 데이터 구조에 담을까?
  result.append(pair[i])

print(dna)
#### 5. 전사된 mRNA 서열 결과 출력하기
print(result)

## 도전! DNA mRNA 전사 프로젝트2 - 순서 뒤집고 개시 코돈 찾기!

### 1. 리스트 데이터 뒤집기 
- a[:3], a[3:]의 의미 기억나시나요?!
- 그렇다면 a[:]는 어떤 의미의 코드일까요?
- range(0,10,1)의 의미 기억나시나요?!
- 그렇다면 a[::-1]의 의미는 무엇일까요?

In [0]:
a = [1,2,3,4]
print(a[::-1])

- 자 이제 mRNA 데이터를 뒤집어보겠습니다!

In [0]:
dna = list('ATGTCCTGTTACATATTGC')
pair = {'A':'U','T':'A','G':'C','C':'G'}

result = []
for i in dna :
  result.append(pair[i])

print(dna)
print(result[::-1])

- 이렇게 뒤집힌 데이터를 result에 저장하겠습니다.

In [0]:
dna = list('GTTACATATTGC')
pair = {'A':'U','T':'A','G':'C','C':'G'}

result = []
for i in dna :
  result.append(pair[i])
result = result[::-1]

print(dna)
print(result)

### 2. 시작 데이터 찾기
- 문자 + 문자는? 예를 들어 'a' + 'b' + 'c'는?
- 조건문 반복을 멈추고 싶을 때는 무엇을 사용해야한다고 했죠?

In [0]:
test = 'a'
test = test + 'b'
test = test + 'c'
print(test)

In [0]:
for i in test :
  if i == 'b' :
    break
  print(i)

- 데이터의 길이를 알려주는 len 함수를 알아봅시다.

In [0]:
print(len([1,2,3,4]))
print(len(test))

- 연습문제로 'abc' 데이터 중 'b'로 시작되는 부분을 찾아 'b'부터 출력해보겠습니다.

In [0]:
for i in range(len(test)) :
  if test[i] == 'b' :
    test = test[i:]
    break
print(test)

- 드디어 개시코돈(AUG)을 찾을 차례입니다!

In [0]:
# ['G', 'C', 'A', 'A', 'U', 'A', 'U', 'G', 'U', 'A', 'A', 'C']

In [0]:
for i in range(len(result)-2) :
  if result[i] + result[i+1] + result[i+2] == 'AUG' :
     print(result[i:])
     break

- 개시코돈부터 데이터를 잘라서 저장합니다.

In [0]:
for i in range(len(result)-2) :
  if result[i] + result[i+1] + result[i+2] == 'AUG' :
    codon = result[i:]
    break

- 오늘의 완성 코드입니다. 하나씩 하나씩 잘 분석해보세요!

In [0]:
dna = list('GTTACATATTGC')
pair = {'A':'U','T':'A','G':'C','C':'G'}

result = []
for i in dna :
  result.append(pair[i])
  
result = result[::-1]

print(dna)
print(result)

for i in range(len(result)-2) :
  if result[i] + result[i+1] + result[i+2] == 'AUG' :
     codon = result[i:]
     break

print(codon)